nav {
    background-color: #f0f0f0;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.home {
    font-size: 20px;
    color: white;
    background-color: #007bff;
}

.about {
    font-size: 20px;
    background-color: #00ac09;
}

.contact {
    font-size: 20px;
    background-color: #ff0000;
}

li:hover {
    transform: scale(1.05);
}